.container {
  display: flex;
  height: 100vh;
}

.video-section {
  width: 50%;
  height: 100vh;
}

.buttons-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}



